<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cart</title>
		<meta name="description" content="Your shopping cart">
		<meta name="author" content="Joe Standring">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700" rel="stylesheet"> 
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
    <script src="{{host}}/scripts/cart.js" async></script>
	</head>
	<body onload="showItems()">
		<header>
      <a class="title" href="/"><b>THEATRE BOOKING</b></a>
			{{#if authorised}}
				<a class="page" href="/logout">Log out</a>
        <a class="page active" href="/secure/cart">Cart</a>
			{{else}}
				<a class="page" href="/login">Log in</a>
			{{/if}}
      <a class="page" href="/plays">Plays</a>
      <a class="page" href="/">Home</a>
		</header>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
    
    <main>
      <h1>Cart</h1>
      <div id="cart">
      </div>
      <form class="valuebutton" onsubmit="localStorage.clear()">
        <p><input type="submit" value="Clear cart"></p>
      </form>
    </main>
    
    <div class="footer">
      <p>&copy; Joe Standring 2020</p>
    </div>
	</body>
</html>
