* {
    font-family: 'Libre Franklin';
    font-color: #222;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* formats the red message boxes */
.msg {
	border: 1px solid red;
	font-weight: bold;
	color: red;
	padding: 1em;
	margin: 2em;
}

header {
	background-color: #222;
  overflow: hidden;
}

img {
  border: 3px;
  border-style: solid;
  border-color: black;
}

.page {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.page:hover {
  background-color: #ddd;
  color: black;
}

a.active {
  background-color: #3D9970; 
  color: white;
}

.tickets {
  color: #3D9970;
}

.title {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  font-size: 28px; 
  text-decoration: none;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #444;
}

h2 {
	margin: 1vw;
	margin-left: 0.6vw;
}

main {
  margin: auto;
  margin-top: 2em;
	padding: 2em;
  background-color: #f2f2f2;
  text-align: center;
  margin-bottom: 2em;
}

main > img {
  width: 75%;
  max-width: 800px;
}

.imglink img {
  width: 100%;
  object-fit: cover;
  max-height: 350px;
  border: 0px;
}

.imglink h3 {
  color: #f2f2f2;
}

.imglink {
  position: relative;
  margin: 0 auto;
  border: 3px;
  border-style: solid;
  border-color: black;
  width: 70%;
  max-width: 700px;
  margin-bottom: 10px;
}

.imglink .imgcontent {
  position: absolute;
  bottom: 0;
  background: #222;
  color: #f2f2f2;
  width: 100%;
}

.imgcontent h2 {
  color: #f2f2f2;
}

.dates {
  display: inline-block;
  max-width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.dateblock {
  display: table-cell;
  background-color: lightgrey;
  padding: 5px;
  width: 18%;
}

article {
	width: 50vw;
	/* background-color: grey;
	float: left; */
}

aside {
	/* background-color: yellow;
	float: right; */
	width: 50vw;
}

main a {
	color: black;
	text-decoration: underline;
}

main a:hover {
	color: red;
	text-decoration: none;
}

section {
	background-color: #DDD;
	width: 24vw;
	margin-top: 1vw;
	padding: 1vw;
	border-radius: 1vw;
}

section > p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.5vw;
}

section > h3 {
	margin: 0;
	padding: 0;
}

small {
	display: block;
	text-align: right;
}

/* ===== FORMS ===== */

fieldset {
	position: relative;
	width: 25vw;
	border: 1px solid #CCC;
	padding-top: 4vw;
}

legend {
	position:absolute;
  top:0;
	left:0;
	width: 25.5vw;
	background-color: #ccc;
	border-bottom: 5px solid grey;
	padding: 0.6vw;
}

input[type="file"] {
	display: none;
}

input[type="submit"], .custom-file-upload {
  background-color: grey;
  border: 2px solid grey;
  color: white;
	padding: 0.4vw 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	/* border-radius: 0.6vw; */
}

input[type="submit"]:hover, .custom-file-upload:hover {
  color: grey;
  background-color: white;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
	width: 25vw;
	border: 1px solid #CCC;
	padding: 0.5vw;
	/* margin-bottom: 1vw; */
	/* border-radius: 0.6vw; */
}

textarea {
	height: 10vw;
	resize: none;
}

select {
	width: 26.3vw;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

form > br {
	line-height: 3vw;
}

dl {
  width: 35vw;
  overflow: hidden;
  /* background: #ff0; */
  padding: 0;
	margin: 0;
}
dt {
  float: left;
  width: 10.5vw;
  /* adjust the width; make sure the total of both is 100% */
  /* background: #cc0; */
  padding: 0.5vw;
  margin: 0
}
dd {
  float: left;
  width: 21vw;
  /* adjust the width; make sure the total of both is 100% */
	/* background: #dd0; */
	padding: 0.5vw;
  margin: 0
}

/* ===== TABLES ===== */

table {
	/* border: 1px solid grey; */
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background: #DDD;
}

td {
	/* border: 1px solid grey; */
	padding: 0.5vw;
	width: 25vw;
}

td:last-child {
	width: 10vw;
	text-align: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: #f2f2f2;
    text-align: center;
}

.valuebutton {
  display: inline-block;
}
